html{
  scroll-behavior: smooth;
}

.background{
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;  
  background-image: url(/images/kuwait/kw1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
  justify-content: start;
  animation: change 15s infinite step-start;
  box-shadow:inset -150px 140px 50px rgba(0, 0, 0, 0.719);
}


@keyframes change{
  0%
  {
    background-image: url(/images/kuwait/kw1.jpg);
  }
  20%
  {
    background-image: url(/images/kuwait/kw2.webp);
  }
  40%
  {
    background-image: url(/images/kuwait/kw6.jpg);
  }
  60%
  {
    background-image: url(/images/kuwait/kw4.jpg);
  }
  80%
  {
    background-image: url(/images/kuwait/kw5.jpg);
  }
}

/* dark mode */
:root {
  --background: #e4e4b7;
  --check: #000;
  --ball: #f2eee3;
  --1: #010122;
  --b1: #8c8cffce;
  --c1: #940000;
  --b2: #cfcf91;
  --card: #013355 ;
}

.dark {
  --background: #000;
  --check: beige;
  --ball: #000;
  --1: #cfcf91;
  --b1: #010122;
  --c1: #ff0404;
  --b2: #010122;  
  --card:  #4bb8ff;
}
.flex{
  display: flex;flex-direction: row;
  align-items: center;justify-content: center;align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--background);
  transition: .5s;
}


/* navbar */
.background nav{
  margin-top: -90px;
  margin-left: 240px;
  display: flex;
  flex-direction: row;
}
nav ul li{
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav ul li a{ 
  text-decoration: none;font-style: oblique;
  font-size: 20px;
  padding: 10px 15px;
  font-weight:800;
  color: white;
}
nav ul li a:hover{
  color: #881313;
  background-color: #17C3B2;
  border-radius: 20px;
  text-decoration: underline;
  transition: all 0.5s;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.checkbox {
height: 23px;
margin-top: 10px;
width: 43px;
margin-left: 720px;
  opacity: 0;
  position: absolute;
}

.label {
  margin-left: 40px;
  width: 43px;
  height: 20px;
  background: var(--check);
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: var(--ball);
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.mode{
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
  margin-top: 26px;
  margin-left: -45px;
  margin-right: 40px;

}


#but {
  margin-top: 1px;
  margin-left: 0px;
  background-color: #E3DC97;
  width:6em;
  height: 2.0em;
  border-radius: 30em;
  font-size: 15px;
  font-weight: 800;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #fffdfd,
              -6px -6px 12px #ffffff;
}

#but::before {
  content: '';
  width: 0;
  height: 2.1em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #17C3B2 0%, #7a0000 100%);
  transition: .7s ease;
  display: block;
  z-index: -1;
}

#but:hover::before {
  width: 7em;
}

.btny {
  margin-left: 1020px;
  margin-top: 10px;
  padding: 0.9em 1.2em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
 }
 
 .btny::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
 }

 .btny::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
       #FF0000, #002BFF, #FF00C8, #002BFF
 );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }
 
 @keyframes glowing {
  0% {
   background-position: 0 0;
  }
 
  50% {
   background-position: 400% 0;
  }
 
  100% {
   background-position: 0 0;
  }
 }
 
 .btny:hover::before {
  opacity: 1;
 }
 
 .btny:active:after {
  background: transparent;
 }
 
 .btny:active {
  color: #000;
  font-weight: bold;
 }


.dropbtn {
  margin-top: -12px;
  display: block; 
  font-family: "Sofia", sans-serif;
  color: #E3DC97;
  background-color: transparent;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  width: 180px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #940000;
  font-weight: 700;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  transition: .3s;
}

.dropdown-content a:hover {
  background-color: #17C3B2;
  color: #940000;
  transition: .3s;
}

.dropdown:hover .dropdown-content {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 15px;
}

.dropdown:hover .dropbtn {
  color: #17C3B2;
  transition: 0.3s;
}
/* background done */


/* part 1 */
/* kuwait part */

.kuwait{
  color: var(--1);
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  }

.text1{
  width: 90%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;text-decoration: underline;
  font-size: 37.5px;
  color: var(--card);
}

.text2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;text-decoration: underline;
  font-size: 37.5px;
  color: var(--1);
}


#kwt1{
  text-align: right;margin-bottom: 30px;margin-right: 100px;
}
#kwt2{
  margin-top: 70px;
}
.kwar{
text-align: right;display: flex;
}
.kwen{
text-align: left;margin-top: 30px;display: flex;
}


/* 2035 */

.kwt2035{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--1);
}

.button {
  margin-top: 30px;
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
}

.button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 105%;
}

.button:hover {
  color: #111;
}


/* part 2 */
/* about us */
.part2{
  width: 100%;height: 350vh; 
  background-color: var(--b1);
  color: var(--c1);
}

.about{
  width: 87%;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.join{
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 87%;
}


.contact{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.contact h1{
  font-size: 50px;margin-top: 60px;
}
.contact h1 span{
  color: #e4e4b7;
}
.contact .box{
  flex-direction: column;
  margin-top: 40px;
}
.box div{
  width: 40%;
  margin: auto;
}
.contact .box input{
  width: 100%;
  margin: auto;
  outline: none;
  border: none;
  color: var(--b2);
  background-color: var(--1);
  padding: 9px 40px;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
}
.box div{
  position: relative;
}
.box div i{
  position: absolute;
  font-size: 20px;
  color: var(--1);
  top: 20px;
  left: 20px;
}
.contact .box textarea{
  margin-top: 20px;
  background-color: transparent;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid var(--1);
  outline: none;
  margin-left: 30px;
}
.send{
  width: 100px;
  background: var(--b2);
  font-size: 19px !important;
  font-weight: 600;
  cursor: pointer;
  margin: 30px auto !important;
}

.foot{
  height: 300px;width: 100%;
  background-color: #000;
  margin-top: -20px;
}
.flexbox{
  display: flex; flex-direction: row;align-items: center;justify-content: center; height: 100%;width: 100%;
  padding: 5px 5px;
  
}
.flip-card {
  background-color: transparent;
  width: 240px;
  height: 300px;
  margin-right: 150px;
  margin-left: 250px;
  margin-top: -180px;
  perspective: 1000px; 
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--b2);
  box-shadow:8px 8px 8px var(--c1);
  color: black;

}

.flip-card-back {
  background-color: var(--b1);
  color: white;
  transform: rotateY(180deg);
}

.btn{
  height: 40px;
  width: 140px;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #010122;  
  background: linear-gradient(39deg, #cc2c00 0%, #c500cc 68%);
  padding: 15px 40px;
  border: solid #000000 2px;
  border-radius: 11px;
  }

.btn :hover {
    color: black;
}

.icon2{
  height: 40px;width: 140px;
  display: block;text-decoration: none;margin-top: 15px;justify-content: center;
  background-color: #630063;
}

.icon2 :hover {
  color: white;
}

.icon3{
  height: 40px;width: 140px;
  display: block;text-decoration: none; margin-top: 15px;justify-content: center;
  background-color: white;
}

.icon3 :hover {
  color: #16647e;
}

.icon4{
  height: 40px;width: 140px;
  display: block;text-decoration: none; margin-top: 15px;justify-content: center;
  background-color: #2e8aa8;
}

.icon4 :hover {
  color: white;
}

.icon5{
  height: 40px;width: 140px;
  display: block;text-decoration: none; margin-top: 15px;justify-content: center;
}

.icon6{
  height: 40px;width: 200px;margin-left: 20px; text-decoration: none;
  display: block; margin-top: 15px;justify-content: center;
  background-color: rgb(29, 165, 29);
}

.icon6 :hover {
  color: white;
}


.icon7{
  height: 40px;width: 160px;margin-left: 40px;
  display: block;text-decoration: none; margin-top: 15px;justify-content: center;align-items: center;

}

.icon7 :hover {
  color: #881313;
}


.a1{
  height: 40px;
  text-decoration: none;color: white;
  font-weight: 600;
}


.a2{
  text-decoration: none;color: black;font-weight: 600;
}

.a3{
  text-decoration: none;color: black;font-weight: 600;
}


.a4{
  text-decoration: none;color: black;font-weight: 600;
}

.a5{
  text-decoration: none;color: black;font-weight: 600;
}

.a6{
  text-decoration: none;font-weight: 600;color: black;
}

.a7{
  text-decoration: none;color: black;font-weight: 600;
}



.last{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 100%;
  background-color: black;
  border-top: 1px solid #940000;
}
.cp{
  font-size: 15px;
  font-weight: 700;
  margin-left: 100px;
}